note.txt

# severity
severity/logging_monitoring_anomalies.csv
severity/logging_monitoring_anomalies_predictions.csv
severity/*.csv
severity/__pycache__
#severity/experiment_logs/

L2R/__pycache__/*.pyc

# Dataset - CVE
cve.csv.zip
#cve-datasets/
severity/CVE_summary_separate/cve-datasets/cve_summary_meaning_top30.json
severity/CVE_summary_separate/cve-datasets/cve_summary_meaning_top50.json
severity/CVE_summary_separate/cve-datasets/cve_with_meaning30.csv
severity/CVE_summary_separate/cve-datasets/cve_with_meaning50.csv
severity/CVE_summary_separate/cve-datasets/cve.csv

